.profile__overlay {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #000;
  background-image: url(../../../images/edit-avatar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  transition: all .2s linear;
}

.profile__overlay:hover {
  opacity: .8;
}
