.profile__profession {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  max-width: 330px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    max-width: 270px;
  }
}
