.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .profile__info {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
